.bgimage {
    height:100vh;
    position:relative;
    overflow: hidden;
}

.bgimage::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("images/sonar_banner.png");
    background-size: cover;
}

.navbar {
    background-color: #3162e7; 
    padding-bottom: 20px; 
  }

.navbar-nav .nav-link {
color: black;
font-size: 1.5em; 
}

.pdf-container {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background: #f9f9f9;
}

.my-image {
    width: 600px;
    height: auto;
}